# =========================
# Gradle
# =========================
/build/
/.gradle/
/gradle-app.setting
!gradlew
!gradlew.bat

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log
spring.log

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment files
# =========================
.env
